<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Me</title>
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/style-card.css" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <link rel="icon" href="assets/img/iconweb.png"/>
</head>
<body style="background-image: url(assets/img/bluewave.jpg)">
  <!-- Nav Bar -->

    {{> navbar}}

    <!-- Navbar Ends -->

  <main class="contact-section">
    <form id="contactForm" class="contact-form">
      <h1 style="text-align: center;">Contact Me</h1>
        <div class="form-field">
          <label for="name">Name</label>
          <input id="name" name="name" class="form-input" type="text" placeholder="Name" required></input>
        </div>

        <div class="form-field">
          <label for="email">Email</label>
          <input id="email" name="email" class="form-input" type="email" placeholder="Email" required></input>
        </div>

        <div class="form-field">
          <label for="phone">Phone Number</label>
          <input id="phone" name="phone" class="form-input" type="number" placeholder="Phone Number" required></input>
        </div>

        <div class="form-field">
          <label for="subject">Subject</label>
          <input id="subject" name="subject" class="form-input" placeholder="Subject" required></input>
        </div>

        <div class="form-field">
          <label for="skill">Skill</label>
          <select id="skill" name="skill" class="form-input" required>
            <option value="frontend">Frontend</option>
            <option value="backend">Backend</option>
          </select>
        </div>

        <div class="form-field">
          <label for="message">Message</label>
          <textarea id="message" name="message" class="form-input" required> </textarea>
        </div>

        <button class="form-submit-button" type="submit" >
          Submit
        </button>
    </form>
  </main>

  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="submitform.js"> </script>
</body>
</html>