<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Testimonial</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="icon" href="assets/img/iconweb.png" />
  </head>
  <body>
    <!-- Nav Bar -->

    {{> navbar}}

    <!-- Navbar Ends -->

    <!-- Isi Halaman -->
    <main class="mb-5">
      <h2 class="text-center my-5">My Testimonials</h2>

      <h4 class="text-center mb-3">Rating By Star</h4>

      <div
        class="container-sm text-center d-flex flex-row justify-content-center gap-3"
      >
        <button
          onclick="showAllTestimonials()"
          type="button"
          class="btn btn-orange"
        >
          All
        </button>
        <button
          type="button"
          onclick="filterTestimonialByStar(1)"
          class="btn btn-orange"
        >
          1✯
        </button>
        <button
          type="button"
          onclick="filterTestimonialByStar(2)"
          class="btn btn-orange"
        >
          2✯
        </button>
        <button
          type="button"
          onclick="filterTestimonialByStar(3)"
          class="btn btn-orange"
        >
          3✯
        </button>
        <button
          type="button"
          onclick="filterTestimonialByStar(4)"
          class="btn btn-orange"
        >
          4✯
        </button>
        <button
          type="button"
          onclick="filterTestimonialByStar(5)"
          class="btn btn-orange"
        >
          5✯
        </button>
      </div>

      <div
        id="testimonialsContainer"
        class="container-fluid mx-auto px-5 mt-4 row row-cols-md-3"
      >
        <p>No testimonials.</p>
      </div>
    </main>

    <!-- Halaman End -->

    <!-- File JS dari bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="js/testimonial.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>